@bgcolor: #C1AC97;

html {
	min-height: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, sans;
	background-color: fadeout(@bgcolor,50%);
	background-image:
		linear-gradient(top left, transparent 0, transparent 50%, white 50%, white 100%),
		repeating-linear-gradient(45deg, @bgcolor 0, @bgcolor 5px, transparent 5px, transparent 23px),
		repeating-linear-gradient(45deg, desaturate(@bgcolor,20%) 0, desaturate(@bgcolor,20%) 5px, transparent 5px, transparent 29px),
		repeating-linear-gradient(45deg, desaturate(@bgcolor,10%) 0, desaturate(@bgcolor,10%) 5px, transparent 5px, transparent 31px),
		repeating-linear-gradient(45deg, darken(@bgcolor,10%) 0, darken(@bgcolor,10%) 5px, transparent 5px, transparent 37px);
	font-size: 20px;
}

#header {
	width: 100%;
	background: #0053B3;
	color: white;
	font-size: 30px;
	padding: 5px 0;
	
	span {
		display: block;
		width: 960px;
		margin: 0 auto;
	}
}


#content {
	width: 960px;
	margin: 0 auto;
	box-shadow: -5px 0 5px rgba(0,0,0,0.5);
	background: white;
	height:900px;
	position: relative;
	background: linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,1)), url(../images/noise.jpg);
}

#page {
	section {
		h1 {
			
		}
	}
}

@titleheight: 200px;

#title {
	height: @titleheight;
	line-height: @titleheight;
	h1 {
		margin: 0;
		display: block;
		text-align: center;
	}
}


@menucolor: #3C549E;
@menuheight: 60px;
@elemwidth: 150px;
@anglesize: 20px;

#menu {
    height: @menuheight;
    line-height: @menuheight;
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: @anglesize;
    margin-left: -@anglesize;
	margin-bottom: @anglesize;
    position: relative;
    background: linear-gradient(left, @menucolor 0, @menucolor @elemwidth * 4, white 100%);
	
	&:before {
		content:"";
		width: 0;
		height: 0;
		position: absolute;
		top: @menuheight;
		left:0;
		border-color: darken(@menucolor, 20%) darken(@menucolor, 20%) transparent transparent;
		border-style: solid;
		border-width: @anglesize / 2;
	}
	
	.element {
    display: block;
    float: left;
    height: @menuheight;
    list-style: none outside none;
    width: @elemwidth;
    text-align: center;
    
		a {
			display: block;
			color: #ffffff;
			text-decoration: none;
			font-weight: bold;
			outline: none;
			
			&:hover {
				text-shadow: 0 5px 5px darken(@menucolor,20%);
			}
		}
	}
}

br.clear {
	clear: both;
}


